
	img {
  --s: 5px;  /* size of the frame */
  --b: 2px;   /* border thickness */
  --w: 250px; /* width of the image */
  --c: #f2022a;
  		margin-right: 100px;
		margin-left: 100px;
  
  
  width: var(--w);
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: calc(2*var(--s));
  --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
  background:

}
img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s)/-2);
  --_i: calc(100% - 3*var(--s));

}

img {
border-radius: 50%;
}


.header {
  	height: 20vh;
	  background: ##000000;
  	background-image: 
	  linear-gradient(to right bottom, 
     rgba(85, 107, 47, 8 ),
     rgba(240, 108, 1, 0.2)),
     
  	
	background-size: cover;
  	background-position: top;
  	position: relative;

  	clip-path: polygon(0 0, 100% , 100% , 0 100%);
	
}
h1 {
            color: black;
			font-family: 'Lucida Handwriting', cursive;
        }
	


.footer{
  	height: 2vh;
 text-align: center;
	background-size: cover;
  	background-position: top;
	padding: 50px;
  	position: relative;
	  background: #000000;
	  font-family: 'Lucida Handwriting', cursive;

  	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	
	
}










body {
  		 
		  margin: center;
		  height: 100%;
		  width: 100%;
		  padding: 0px;
		  padding-left: 0px;
		  margin: 0px;
		min-height: 100vh;
		display: block;
		margin: 8px;
  background: #000000;
  font-family: 'Lucida Handwriting', cursive;

}






div_DesItem {
color:black;
}





.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -12px -12px 13px rgba(0, 0, 0, 0.6);
	font-family: 'Lucida Handwriting', cursive;
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

table {
            width: 80%;
            border-collapse: collapse;
        }
        
   
input {
            font-family: 'Lucida Handwriting', cursive;
        }

option {
            font-family: 'Lucida Handwriting', cursive;
        }
		
select {
            font-family: 'Lucida Handwriting', cursive;
        }
