


/* Styles pour les appareils mobiles (par exemple, jusqu'à 600px de large) */
@media screen and (max-width: 600px) {
    label, input, select, textarea {
        width: 100%; /* Pour que les éléments prennent toute la largeur de l'écran */
        margin: 5px 0; /* Réduisez les marges entre les éléments */
        font-size: 18px; /* Réduisez la taille de police */
    }

    .commande {
        width: 100%; /* Les boutons occupent toute la largeur de l'écran */
        font-size: 36px; /* Ajustez la taille de police des boutons */
    }








input {
font-color:black;
font-size: 28px;
width: width: 60%;;
}

#wilaya {
    font-family: Arial, sans-serif; /* Police */
	font-size: 28px;
    color: Black; /* Couleur du texte */
    background-color: white;
	width: 20%;
    padding: 5px; /* Marge intérieure */
    border: 1px solid #ccc; /* Bordure */
}


#livraison {
    font-family: Arial, sans-serif; /* Police */
	font-size: 28px;
    color: Black; /* Couleur du texte */
    background-color: white;
	width: 20%;
    padding: 5px; /* Marge intérieure */
    border: 1px solid #ccc; /* Bordure */
}

#commande {
   
    width: 60%; /* Permet à la largeur de s'ajuster automatiquement */
	font-size: 28px;
}
#wilaya {
   
    width: 30%; /* Permet à la largeur de s'ajuster automatiquement */
	font-size: 30px;
	color:brown-negro;
}



#adresse {
   
    width: 50%; /* Permet à la largeur de s'ajuster automatiquement */
	font-size: 30px;
	color:brown-negro;
}







